<main class="page-wrapper">
  <!-- Hero -->
  <section class="position-relative pt-5">

    <!-- Background -->
    <div class="position-absolute top-0 start-0 w-100 bg-position-bottom-center bg-size-cover bg-repeat-0"
      style="background: linear-gradient(180deg, rgb(172, 244, 255), rgb(226, 253, 255), rgba(255, 255, 255, 0.053));">
      <div class="d-lg-none" style="height: 960px;"></div>
      <div class="d-none d-lg-block" style="height: 768px;"></div>
    </div>

    <!-- Content -->
    <div class="container position-relative zindex-5 pt-5">
      <div class="row">
        <div class="col-lg-6">

          <!-- Breadcrumb -->
          <nav class="pt-md-2 pt-lg-3 mb-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a routerLink=""><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
          </nav>

          <!-- Text -->
          <h1>About <strong style="color: #0003b6;">CollExplore</strong></h1>
          <p class="fs-xl" style="max-width: 526px;">We are a web-based platform that helps students from
            across India explore and discover colleges as well as predict colleges based on their score.
            Our product lets students from across India explore and discover colleges, as well as predict
            colleges based on their score. With our platform, you will be able to see all the colleges in
            different area(s), find out about the course structure and other relevant details, get
            information about how to apply for admission and more.
            You can use this information to make an informed decision about which college or university
            would be suitable for you</p>
          <div class="row row-cols-3 pb-2">
            <div class="col">
              <h3 class="h2 mb-2">6</h3>
              <p class="mb-0"><strong>States</strong> Covered</p>
            </div>
            <div class="col">
              <h3 class="h2 mb-2">18</h3>
              <p class="mb-0"><strong>Colleges</strong> Covered</p>
            </div>
          </div>
        </div>

        <!-- Images -->
        <div class="col-lg-6 mt-xl-3 pt-5 pt-lg-4">
          <div class="row row-cols-2 gx-3 gx-lg-4">
            <div class="col pt-lg-5 mt-lg-1">
              <img src="assets/img/about/hero/01.jpg" class="d-block rounded-3 mb-3 mb-lg-4" alt="Image">
              <img src="assets/img/about/hero/02.jpg" class="d-block rounded-3" alt="Image">
            </div>
            <div class="col">
              <img src="assets/img/about/hero/03.jpg" class="d-block rounded-3 mb-3 mb-lg-4" alt="Image">
              <img src="assets/img/about/hero/04.jpg" class="d-block rounded-3" alt="Image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section class="container p-5 w-100 h-75">
    <h2 class="h1 text-center pt-1 pb-3 mb-3 mb-lg-4">Our Leadership</h2>
    <div class="d-flex justify-content-between">

      <div class="card card-hover border-0 bg-transparent m-2">
        <div class="position-relative">
          <img src="assets/img/team/1.jpg" class="rounded-3" alt="Partha Bhowmick">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">ABC</h3>
          <p class="fs-sm mb-0">XYZ Lead</p>
        </div>
      </div>

      <div class="card card-hover border-0 bg-transparent m-2">
        <div class="position-relative">
          <img src="assets/img/team/3.jpg" class="rounded-3" alt="Partha Bhowmick">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">ABC</h3>
          <p class="fs-sm mb-0">XYZ Lead</p>
        </div>
      </div>

      <div class="card card-hover border-0 bg-transparent m-2">
        <div class="position-relative">
          <img src="assets/img/team/2.jpg" class="rounded-3" alt="Partha Bhowmick">
          <div class="card-img-overlay d-flex flex-column align-items-center justify-content-center rounded-3">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-25 rounded-3"></span>
            <div class="position-relative d-flex zindex-2">
              <a href="#" class="btn btn-icon btn-secondary btn-facebook btn-sm bg-white me-2">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-linkedin btn-sm bg-white me-2">
                <i class="bx bxl-linkedin"></i>
              </a>
              <a href="#" class="btn btn-icon btn-secondary btn-twitter btn-sm bg-white">
                <i class="bx bxl-twitter"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="card-body text-center p-3">
          <h3 class="fs-lg fw-semibold pt-1 mb-2">ABC</h3>
          <p class="fs-sm mb-0">XYZ Lead</p>
        </div>
      </div>


    </div>
  </section>

</main>
