.swiper-slide:hover {
  transform: scale(1.07);
}

#search-box {
  flex-wrap: wrap;
  width: 100vw;
}

.card-search {
  box-shadow: 0 0 8px rgb(225, 211, 255);
}

hr {
  background-color: rgb(215, 221, 255);
  height: 2px;
}

.dropdownBar {
  border: none;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
}

.collegeCard {
  height: fit-content;
  box-shadow: 0 0 10px black;
  border-radius: 17px;
  padding-top: 10px;
  background-color: rgb(233, 234, 255);
}

.material-symbols-rounded {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.top-img-text {
  height: 400px;
  background-image: url("https://images.unsplash.com/photo-1590012314607-cda9d9b699ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
  background-size: cover;
  background-position-y: center;
  border-radius: 10px;
}

.top-img-overlay {
  background-color: rgba(0, 25, 62, 0.7);
  height: 400px;
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 20px;
  text-overflow: clip;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: break-word;
}

.top-img-text a {
  color: rgb(255, 255, 255, 1);
  text-align: start;
  font-size: 60px;
  text-shadow: 0 0 10px black;
}

.top-img-text a:hover {
  text-shadow: 0 0 5px white;
}

.detail-items {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  padding-top: 50px;
}

.abt-college-item {
  height: 200px;
  background-color: rgb(99 102 241);
  width: 430px;
  border-radius: 10px;
  box-shadow: 0 4px 7px rgb(20, 21, 52);
}

h3 {
  font-weight: 800;
  font-size: 24px;
  text-align: center;
  background-color: rgb(23, 24, 66, 0.6);
  color: white;
  border-radius: 10px;
}

.college-desc {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  background-color: rgb(247, 247, 255);
  border-radius: 10px;
  height: 90px;
}

select.ng-untouched.ng-invalid {
  box-shadow: 0 0 10px rgb(4, 33, 255);
  border: none;
}
select.ng-touched.ng-invalid {
  box-shadow: 0 0 10px red;
  border: none;
}

select.ng-valid {
  box-shadow: 0 0 10px rgb(0, 225, 11);
  border: none;
}
